a > h3 {
  color: var(--text-primary-colour);
  text-decoration: underline;
}

.content-wrapper {
  max-width: 90%;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
}

.section-wrapper > section {
  padding: 2em 0;
  width: 100%;
}

.landing-section {
  flex-grow: 1;
}

.landing-section .personal-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  margin: 3em 0;
}

.landing-section .personal-info .text-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto 0;
  flex-basis: 0px;
  flex-grow: 1;
}

.landing-section .personal-info .image-wrapper {
  margin: auto 0 auto 4%;
  flex-basis: 0px;
  flex-grow: 1;
}

.landing-section .personal-info .image-wrapper img {
  width: 100%;
  border-radius: 50%;
  border: 3px solid var(--text-primary-colour);
}

.landing-section .blog-cards-container hr {
  color: var(--text-primary-colour);
}

.landing-section .blog-cards-container .blog-card {
  margin-top: 2em;
  margin-bottom: 2em;
  color: var(--text-secondary-colour);
}

.landing-section .blog-cards-container .blog-card .blog-title {
  font-size: 3em;
  text-decoration: none;
  color: var(--text-secondary-colour);
}

.landing-section .blog-cards-container .blog-card .blog-title:hover,
.landing-section .blog-cards-container .blog-card .blog-title:focus,
.landing-section .blog-cards-container .blog-card .blog-title:active {
  text-decoration: underline;
}

.landing-section .blog-cards-container .blog-card .blog-metadata {
  padding: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--text-primary-colour);
}

.landing-section .blog-cards-container .blog-card .blog-metadata > * {
  margin: 0;
  font-size: 1.5em;
}

#contact-section h2 {
  margin-bottom: 0.3em;
}

#contact-section .social-media {
  padding-bottom: 1em;
}

#contact-section .social-media > * {
  padding: 0 1em;
}

#contact-section .social-media .linkedin-logo {
  fill: var(--text-primary-colour);
}
