:root {
  --text-primary-colour: #f1edee;
  --text-secondary-colour: #8aa29e;
  --background-primary-colour: #3d5467;
}

body {
  margin: 0;
}

a {
  color: var(--text-primary-colour);
  text-decoration: underline;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  margin: 5px 8px;
}

nav .blog-link {
  padding: 3px 6px;
  font-size: 1.5em;
}

nav .blog-link a {
  color: var(--text-secondary-colour);
  text-decoration: underline;
}

.content-wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.landing-section {
  background-color: var(--background-primary-colour);
  color: var(--text-primary-colour);
  min-height: 100vh;
  min-width: 100vw;
}

.landing-section .personal-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 16%;
}

.landing-section .personal-info .text-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.landing-section .personal-info .text-info h1 {
  margin-top: 0;
  margin-bottom: 0.3em;
  font-size: 2.4em;
}

.landing-section .personal-info .text-info h3 {
  margin: 0;
}

.landing-section .personal-info .image-wrapper {
  max-width: 40%;
  padding-top: 13%;
}

.landing-section .personal-info .image-wrapper img {
  width: 100%;
  border-radius: 50%;
}
