main p,
main p *,
main li,
main pre {
  font-size: 2em;
  text-align: justify;
}

code {
  display: inline-block;
  max-width: 100%;
  overflow-x: scroll;
  padding: 1em 0.2em;
  font-family: "Courier New", Courier, monospace;
  background: #6e6f73;
  border-radius: 3px;
}

.img-wrapper {
  text-align: center;
}
